

*{
    margin: 0;
    padding: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}
main{
    margin: 0 auto;
}

ul li{
    list-style: none;
}


/*nav section */
nav{
    display: flex;
    justify-content: space-around;
    box-shadow: -6px 34px 27px -48px #888888;
    border-bottom: 1px solid whitesmoke;
    
}
nav h1 span{
    color: #FF42A5;
}
nav h1{
    text-align: center;
font-family: work sans;
font-size: 33px;

font-weight: 800;

}
.nav_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.nav_logo img{
    width: 100%;
    height: 32px;


}
.nav_list{
    justify-content: center;
    text-align: center;
    align-items: center;
   
}
.nav_list ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}
.nav_list ul li{
    padding: 20px;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;

font-weight: 500;
}
.nav_list .icon_list img{
    width: 17.4px;
    height: 17px;
    padding: 2px;
}
.nav_list .icon_list{
    text-align: left;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 161px;
    height: 7px;
    margin-top: 7px;

}
.nav_list .icon_list span{
color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 15px;
font-weight: 500;
}


/* banner section */
.banner_bg {
   
    position: absolute;
}
.banner_bg img{
    height: 616px;
}
.items_note{
    position: relative;
    text-align:center;
  align-items: center;
  margin: 128px 200px 0px 0px;
}
.banwe_btn {
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
}
.banwe_btn button{
    color: #FFF;
font-family: Work Sans;
font-size: 15px;

font-weight: 400;

}
.banwe_btn .blu_es{
padding: 10px 21px;
border-radius: 41px;
border-color: transparent;
    background-color: #4EC5F7;
}
.banwe_btn  .pink_is{
    background-color: #FF42A5;
    padding: 10px 21px;
border-radius: 41px;
border-color: transparent;
}
.baner_container{
    display: flex;
    justify-content: space-between;
    height: 700px;
}
.banner_sticker img{
    height: 616px;

}
.items_note h2{
    color: #0B0223;

font-family: Work Sans;
font-size: 32px;
font-weight: 600;
text-transform: uppercase;
margin: 15px;
}
.items_note h1{
    
font-family: Work Sans;
font-size: 66px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin: 20px;

}
.items_note p{
    color: #534C64;
    text-align: justify;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
margin: 15px 0px 1px 218px;
}
.banner_details{
    width: 100%;
    height: 615px;
}


/* onliner card section */
.online_main_section{

    margin-top: 20px;
    margin-bottom: 20px;
}
.container_box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.onliner_card img{
    width: 70%;
}
.Onliner_title h2{

    color: #0B0223;
    text-align: center;
font-family: Work Sans;
font-size: 42px;
font-weight: 700;
margin-top: 61px;
}
.Onliner_title h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.Onliner_title p{
margin-bottom: 70px;
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 400;

}

.bottom_title{
    color: #534C64;
font-family: Work Sans;
font-size: 11px;
font-weight: 500;

}


/* play section */
.play_container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 160px;
}

.play_container  .play_detail {
    text-align: right;
    width: 470px;
    padding-top: 115px;
}

.play_container  .play_detail h2{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}

.play_container  .play_detail h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.play_container  .play_detail p{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.play_container .img_box{

    position: relative;
}
.play_container .img_box  .overlay_img{
    position: absolute;
    top: 55%;
    right: 71%;
}

/* game cart section */


.games_container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding-top: 80px;
    padding-bottom: 80px;
}

.games_container  .games_card{
    display: flex;
    border: 1px solid aliceblue;
    border-radius: 50px;
    text-align: center;
    background-color: aliceblue;
    justify-content: space-evenly;
    padding: 13px 47px 6px 6px;
    align-items: center;
   
}
.games_container .games_card img {
    width: 60%;
   

}
 .games_card:hover{
    color: #FF42A5;
    border: 1px solid #FF42A5;
 }
.games_box_one{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
}
.games_box_two{
    margin-top: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
  .cart_name h3{
    font-size: 15px;
   text-align: center;
   align-items: center;
  }

  /* footer */

  .footer_main{
      text-align: center;
      background-color: #0B0223;
     width: auto;
     height: 600px;
  }
  .foter_head{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .foot_title ul{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
  .foot_icon ul{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 40px;
    
  }
  .foot_icon ul a{
    color: white;
    font-size: 32px;
  }
  .footer_second_box{
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    row-gap: 50px;
    margin: auto;
    display: flex;
    height: 600px;
    flex-wrap: nowrap;
    flex-direction: column;
    color: white;
  }

.foter_head h2{

    text-align: center;
    font-family: work sans;
    font-size: 33px;
    
    font-weight: 800;
}

.foter_head h2 span{
    color: #FF42A5;
}
.footer_tearms_title ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer_tearms_title ul li{

    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-weight: 500;

}

.footer_tearms_title p{
  padding-top: 30px;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}